.WebsiteDisplay_mainDisplay {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    padding: 0.5rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #272727;

    box-sizing: border-box;
    border-bottom: solid;
    border-width: 1px;
    border-color: #999999;
    box-shadow: none;

    color: #ffffff;
}

.WebsiteDisplay_button {
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    padding: 0px;
}

.WebsiteDisplay_span {
    display: inline-flex;
    align-items: center;
}